In [1]:
#from tensorflow_docs.vis import embed
from tensorflow import keras
#from imutils import paths

#import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
import numpy as np
#import imageio
import cv2
from ipywidgets import Video, Image

import os
import json

Building V2_trailer_Dataset

In [2]:
# reading the JSON data using json.load()
# file = '/home/app/src/data/shot-type-dataset/v2_full_trailer.json'
# with open(file) as train_file:
#     dict_v2= json.load(train_file)

In [3]:
# # Creating a DataFrame with the v2_full_trailer.json"

# dataset = []
# movie = []
# shot= []
# scale_label = []
# scale_val = []
# mov_label = []
# mov_val = []

# # We pass for all JSON keys an append every trailer labels different lists
# for key_movie in dict_v2:
#     for key_shot in dict_v2[key_movie]:

#         dataset.append('v2')
#         movie.append(key_movie)
#         shot.append(key_shot)
#         scale_label.append('None')
#         scale_val.append(int(0))
#         mov_label.append(dict_v2[key_movie][key_shot]['movement']['label'])
#         mov_val.append(dict_v2[key_movie][key_shot]['movement']['value'])

# # We build the dataframe with the lists data
# data = list(zip(dataset, movie, shot, scale_label, scale_val, mov_label, mov_val))  
# columns = ['dataset','movie', 'shot', 'scale_label', 'scale_val', 'move_label', 'move_val']  
        
# dataset_df_v2 = pd.DataFrame(data, columns=columns)

In [5]:
# v2_df = dataset_df_v2
# v2_path = '/home/app/src/data/shot-type-dataset/trailer_v2/'
# v2_df ['video_name'] = v2_path + dataset_df_v2['movie'] + '/'+ 'shot_' + dataset_df_v2['shot'] + '.mp4'
# v2_df = v2_df[['video_name', 'move_label', 'movie', 'shot']]
# v2_df = v2_df.rename(columns ={'move_label': 'tag'})

In [8]:
# v2_df.to_csv('/home/app/src/CSV/dataset_v2.csv', index = False)

Getting df of trailer_v2 movies

In [2]:
# Getting df of trailer_vw movies
v2_df= pd.read_csv('/home/app/src/CSV/dataset_v2.csv',dtype={"shot": str})
v2_df

                                            video_name   tag      movie  shot
0    /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt1376168  0034
1    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt1828968  0050
2    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt0108289  0022
3    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt0108289  0042
4    /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt2349952  0053
..                                                 ...   ...        ...   ...
601  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt3993760  0006
602  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt2342047  0010
603  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt1897949  0003
604  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt2231854  0014
605  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt2077904  0066

[606 rows x 4 columns]

Preparing Trailer_v3_dataset (The complete dataset)

In [11]:
# data_df = pd. read_csv('/home/app/src/CSV/dataset_df.csv', dtype={"shot": str})

# data_df.drop(columns=['scale_val'], inplace=True)
# data_df.drop(columns = ['move_val'], inplace=True)

# train_path = '/home/app/src/data/shot-type-dataset/trailer_v3/train/'
# data_df['video_name'] = train_path + 'shot_' + data_df['movie'] + '_' + data_df['shot'] + '.mp4'
# train_df = data_df[(data_df['dataset']=='train') | (data_df['dataset']=='val') ]
# train_df = train_df[['video_name', 'move_label', 'movie', 'shot']]
# train_df = train_df.rename(columns ={'move_label': 'tag'})


# test_path = '/home/app/src/data/shot-type-dataset/trailer_v3/test/'
# data_df['video_name'] = test_path + 'shot_' + data_df['movie'] + '_' + data_df['shot'] + '.mp4'
# test_df = data_df[data_df['dataset']=='test']
# test_df = test_df[['video_name', 'move_label', 'movie', 'shot']]
# test_df = test_df.rename(columns ={'move_label': 'tag'})

Deleting Multi-movement Tag

In [12]:
# train_df = train_df[train_df.tag != 'Multi_movement']
# train_df = train_df.reset_index(drop = True) 
# test_df = test_df[test_df.tag != 'Multi_movement']
# test_df = test_df.reset_index(drop = True)

In [13]:
# train_df.to_csv('/home/app/src/CSV/dataset_train_v3.csv', index = False)
# test_df.to_csv('/home/app/src/CSV/dataset_test_v3.csv', index = False)

Getting dfs (train and test) of trailer_v3 movies

In [3]:
train_df= pd.read_csv('/home/app/src/CSV/dataset_train_v3.csv', dtype={"shot": str})
test_df= pd.read_csv('/home/app/src/CSV/dataset_test_v3.csv', dtype={"shot": str})
train_df

,video_name,tag,movie,shot
0,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt0444850,0014
1,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt0444850,0015
2,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt0444850,0016
3,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt2005173,0002
4,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt2005173,0014
...,...,...,...,...
25339,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt6236404,0080
25340,/home/app/src/data/shot-type-dataset/trailer_v...,Motion,tt6236404,0088
25341,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt6236404,0100
25342,/home/app/src/data/shot-type-dataset/trailer_v...,Static,tt7160070,0005
25343,/home/app/src/data/shot-type-dataset/trailer_v...,Push,tt7160070,0040

Data Augmentation

We'll prepare a df with the videos to augmentate.

530 push videos from v2_df
 73 push videos from v2_df
247 push videos from v3_df

853 total videos which it'll augment into (853 x 11 types of aug) = 9383

In [4]:
#trailer_v2
v2_df_push_pull = v2_df[(v2_df['tag'] =='Pull') | (v2_df['tag'] =='Push')]
v2_df_push_pull

                                            video_name   tag      movie  shot
0    /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt1376168  0034
1    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt1828968  0050
2    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt0108289  0022
3    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt0108289  0042
4    /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt2349952  0053
..                                                 ...   ...        ...   ...
601  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt3993760  0006
602  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt2342047  0010
603  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt1897949  0003
604  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt2231854  0014
605  /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt2077904  0066

[606 rows x 4 columns]

In [5]:
#trailer_v3
v3_df_pull = train_df[(train_df['tag'] =='Pull')]
v3_df_pull

,video_name,tag,movie,shot
8,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt2005185,0028
155,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt2023561,0060
208,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt2033981,0069
321,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt2049448,0045
447,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt2063834,0077
...,...,...,...,...
24930,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt5082670,0005
24933,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt5085688,0007
25280,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt5967998,0022
25284,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt5967998,0063
25335,/home/app/src/data/shot-type-dataset/trailer_v...,Pull,tt6210456,0021

In [6]:
df_videos_to_aug= pd.concat([v2_df_push_pull,v3_df_pull], axis=0)
df_videos_to_aug=df_videos_to_aug.reset_index(drop=True)
df_videos_to_aug

                                            video_name   tag      movie  shot
0    /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt1376168  0034
1    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt1828968  0050
2    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt0108289  0022
3    /home/app/src/data/shot-type-dataset/trailer_v...  Push  tt0108289  0042
4    /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt2349952  0053
..                                                 ...   ...        ...   ...
848  /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt5082670  0005
849  /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt5085688  0007
850  /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt5967998  0022
851  /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt5967998  0063
852  /home/app/src/data/shot-type-dataset/trailer_v...  Pull  tt6210456  0021

[853 rows x 4 columns]

In [7]:
#df_videos_to_aug.to_csv('/home/app/src/CSV/df_videos_to_aug.csv', index = False)